body {
    margin: 0;
    background-color: #fdf0d5;
    color: white;
}

.first-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #344e41;
    text-align: center;
    margin-bottom: -10px;
}

.first-sub-container {
    padding: 50px; /* Adjust padding for responsiveness */
}

p {
    font-size: 20px;
}

h1 {
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 20px;
}

.item {
    flex: 1 1 300px;
    margin: 20px;
    text-align: center;
    background-color: #7f5539;
    width: calc(50% - 40px); /* Width adjusted to ensure space between items */
    height: calc(50% - 40px); /* Height adjusted to ensure space between items */
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}

.item img {
    width: 100%;
    height: auto;
    max-width: 200px;
}

.item p {
    margin: 10px 0;
}

.item a {
    display: block;
}

ul {
    list-style: none;
    font-size: 16px; /* Slightly smaller for better fit */
    padding: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.girl {
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 50%;
}
.item2{
    background-color: #9c6644;
}

/* Media queries for responsiveness */

@media (min-width: 600px) {
    .first-container {
        flex-direction: row;
    }

    .first-sub-container {
        padding: 100px;
    }

    .girl {
        width: 350px;
        height: 500px;
    }

    .item {
        width: calc(45% - 40px); /* Adjusting width for better spacing */
        height: auto; /* Ensuring height is automatic for better spacing */
    }
}

@media (min-width: 768px) {
    .first-container {
        height: 100vh;
    }

    .first-sub-container {
        padding: 200px;
    }

    .item {
        width: calc(30% - 40px); /* Adjusting width for better spacing */
        height: auto; /* Ensuring height is automatic for better spacing */
    }

    ul {
        font-size: 18px;
    }
}

@media (min-width: 1024px) {
    .first-container {
        flex-direction: row;
    }

    .first-sub-container {
        padding: 200px;
    }

    .item {
        width: calc(22% - 40px); /* Adjusting width for better spacing */
        height: auto; /* Ensuring height is automatic for better spacing */
    }
}
